<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS Style Tech Blog- Will AI make your job redundant?</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="bg-white text-black">
    <div class="container mx-auto">
        <header class="py-4">
            <h1 class="text-3xl font-bold">Is Technology too scary?</h1>
            <h2>Should mankind embrace the stone age?</h2>
            <nav class="mt-2">
                {{#if loggedIn}}
                <a href="/" class="text-black hover:text-blue-400">
                    <i class="fas fa-home"></i> Homepage
                </a>
                <a href="/dashboard" class="ml-2 text-black hover:text-blue-400">Dashboard</a>
                <a href="/dashboard/create/" class="ml-2 text-white hover:text-gray-400">Create post</a>
                <button id="logout"
                    class="ml-2 bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-3 rounded">Logout</button>
                {{else}}
                <a href="/" class="text-black hover:text-blue-400">
                    <i class="fas fa-home"></i> Homepage
                </a>
                <a href="/login"
                    class="ml-2 bg-blue-500 hover:bg-gray-600 text-white font-bold py-1 px-3 rounded">Login</a>
                {{/if}}
            </nav>
        </header>

        <main class="flex items-center">
            <div class="container mx-auto">
                <div class="image">
                    <img src="/assets/Old man.jpg" alt="Old man yells at cloud" class="mx-auto">
                </div>
                {{{ body }}}
            </div>
        </main>

        <footer class="">
            <div class="container mx-auto">
                <div class="text-center">
                    <p>
                        <a href="/" class="text-black hover:text-blue-400">Homepage</a>{{#if loggedIn}} |
                        <a href="/dashboard/" class="text-black hover:text-blue-400">Dashboard</a> |
                        <a href="/dashboard/create/" class="text-black hover:text-blue-400">Create new post</a>
                        {{else}}
                        <span class="text-white">|</span>
                        <a href="/login" class="ml-2 text-black hover:text-gray-400">Login</a>
                        {{/if}}
                    </p>
                </div>
                <div class="text-center mt-4">
                    <p>
                        <strong>Onion Tech Blog</strong> by <a href="https://github.com/MakeRedundant"
                            class="text-blue-400 hover:text-blue-600">Brian Trang</a> <br>
                    <p>Thanks for looking! </p> <br>
                    My source code:
                    <a href="https://github.com/MakeRedundant/CMS-Style-Tech_Blog"
                        class="text-blue-400 hover:text-blue-600"><i class="fab fa-github"></i> GitHub</a>
                    <a href="mailto:brian.trang9@gmail.com" class="text-blue-400 hover:text-blue-600"><i
                            class="far fa-envelope"></i>
                        Email</a>
                    <p>Feel free to contact me or check out my other stuff here!</p>
                    </p>
                </div>
            </div>
        </footer>
    </div>

    {{#if loggedIn}}
    <script src='/javascript/logout.js'></script>
    {{/if}}
</body>

</html>