<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ... (head section) ... -->
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Tech Blog</a>
            </h1>
            <nav>
                <span><a href="/">home</a></span>
                <!-- Conditional Block: Renders different content based on the "loggedIn" variable -->
                {{#if loggedIn}}
                <!-- If the user is logged in -->
                <a href="/dashboard">dashboard</a>
                <button id="logout" class="btn-no-style">logout</button>
                {{else}}
                <!-- If the user is not logged in -->
                <a href="/login">login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            <!-- Dynamic Content: Inserts the main content of the page provided by Express.js -->
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting my website!
        </footer>
    </div>

    <!-- Conditional JavaScript: Includes the login.js script only if the user is logged in -->
    {{#if loggedIn}}
    <script src="/CMS-Style-Tech_Blog/public/javascript/login.js"></script>
    {{/if}}
</body>

</html>