<section>
    <a href="/dashboard" class="float-right">&larr; Back to dashboard</a>
    <h2 class="text-2xl font-bold">Create New Blog Post</h2>
    <hr class="my-4">

    <form class="new-post-form">
        <div class="mb-4">
            <label for="post-title" class="block font-semibold">Title:</label>
            <input class="w-full py-2 px-3 border rounded" type="text" id="post-title" name="post-title"
                placeholder="Insert blog title here" />
        </div>
        <div class="mb-4">
            <label for="post-content" class="block font-semibold">Content:</label>
            <input class="w-full py-2 px-3 border rounded h-32" id="post-content" name="post-content"
                placeholder="Insert blog content here"></input>
        </div>
        <button type="submit"
            class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded float-right">Create
            Post</button>
    </form>
</section>

<script src="/javascript/add-post.js"></script>