<div class="mb-5 pt-3">
    <a href="/dashboard/create/"
        class="float-right bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">Create Post</a>

    <h2 class="text-2xl font-bold py-4">Dashboard: Your Posts</h2>
    <hr class="my-4">
    {{#if posts.length}}
</div>

{{#each posts as |post|}}
{{> post-info post}}

<a href="/dashboard/edit/{{post.id}}"
    class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 ml-5 mt-5 rounded">Edit Post</a>
</div>
{{/each}}

{{else}}
<h6 class="py-4 text-center italic">You currently do not have any posts</h6>

{{/if}}

