<div class="w-1/2 mx-auto mt-16">
    <h2 class="text-3xl font-semibold pb-4">Create your new account:</h2>
    <hr class="mb-4">
    <form class="signup-form">
        <div class="mb-4">
            <label for="username-signup" class="block font-medium">Username:</label>
            <input type="text" id="username-signup" class="w-full p-2 border rounded-lg" />
        </div>
        <div class="mb-4">
            <label for="email-signup" class="block font-medium">Email:</label>
            <input type="text" id="email-signup" class="w-full p-2 border rounded-lg" />
        </div>
        <div class="mb-4">
            <label for="github-signup" class="block font-medium">Github:</label>
            <input type="text" id="github-signup" class="w-full p-2 border rounded-lg" />
        </div>
        <div class="mb-4">
            <label for="password-signup" class="block font-medium">Password:</label>
            <input type="password" id="password-signup" class="w-full p-2 border rounded-lg" />
        </div>
        <div class="flex justify-center">
            <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                Signup
            </button>
        </div>
    </form>
</div>

<script src="/javascript/signup.js"></script>