<!-- Displaying articles -->
{{> post-info post}}

<!-- Displaying form and comments -->
<!-- Only displays if logged in -->
{{#if loggedIn}}
<form class="comment-form mt-4">
    <div class="mb-4">
        <textarea class="w-full p-2 border rounded-lg" name="comment-body"></textarea>
    </div>

    <div class="flex justify-start">
        <button class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded" type="submit">Add
            Comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}